<ion-menu side="end"></ion-menu>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <img src="assets/icon/scania.svg" class="logo" height="40px" />
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="secondary">
      Scania Health Hub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notícias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/images/sangue.jpg" />
    <ion-card-header>
      <ion-card-subtitle>20 de Junho de 2024</ion-card-subtitle>
      <ion-card-title>Junho Vermelho: ‘estender o braço’ pode salvar vidas.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A Scania realiza, pelo segundo ano consecutivo, a campanha Doe Sangue. Compartilhe Vida., movimento ...
      <strong >Clique para continuar lendo</strong>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>Dia Mundial Sem Tabaco:</strong>
        <ion-note color="medium" class="ion-text-wrap">
           Uma data para conscientização e informação dos malefícios do cigarro à sua saúde
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">09:11</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <strong>Prevenção Coronavirus: </strong>
        <ion-note color="medium" class="ion-text-wrap">Desde o início da pandemia do Coronavírus, o mundo não é mais o mesmo de ontem...</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">04:20</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <!-- <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <div class="unread-indicator"></div>
      </div>
      <ion-label>
        <strong>Steam</strong>
        <ion-text>Game Store Sale</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          That game you added to your wish list 2 years ago is now on sale!
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">Ontem</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> -->

  </ion-list>




</ion-content>
